* {
    margin: 0;
    padding: 0;
    color: lime;
}

body {
    background-color: black;
}   

#title {
    justify-content: center;
}

#title-text {
    font-size: 120px;
    text-align: center;

}
header {
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

#three-sections {
    justify-content: center;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    height: 1000px;
}

#right-section {
    margin-left: 100px;
    /*background-color: white;*/
    width: 30%;
}

#middle-section {
    width: 70%;
    justify-content: center;
}

#left-section {
    margin-right: 100px;
    width: 30%;
    /*background-color: purple;*/
}

#board-text-content {
    text-align: center;
    font-size: 100px;
    color: white;
    margin-top: 11%;
    background-color: blue;
    height: 250px;
    width: 470px;
}

#old-board-text {
    text-align: center;
    color: white;
    font-size: 100px;
    background-color: red;
    height: 700px;
    width: 470px;
}

#live-stream {
    height: 550px;
    /*background-color: green;*/
    color: white;
    text-align: center;
    font-size: 100px;
}

#map {
    height: 400px;
    background-color: orange;
    margin-top: 50px;
    text-align: center;
    font-size: 100px;
    color: white;
}

#right-content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#water-content{
    margin-left: 20px;
}

#water-meter{
    color: white;
    text-align: center;
    font-size: 50px;
    background: grey;
    width: 170px;
    height: 0px;
    border-radius: 20px;
}

#lights-content{
    margin-right: 20px;
}

#light-meter{
    color: white;
    text-align: center;
    font-size: 50px;
    background: grey;
    width: 170px;
    height: 700px;
    border-radius: 20px;
}

#buttons {
    margin-top: 100px;
    margin-left: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 46px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  