<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css')}}>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>IOT - CITY</title>
</head>
<body>
    <header>
        <div id="title">
            <div id="title-text">
                IOT - CITY
            </div>
        </div>
    </header>
    <main> 
        <section id="three-sections">
            <div id="left-section">
                <div id="old-board-text">
                    old text
                </div>
                <div id="board-text-content">
                    new text
                </div>
            </div>
    
            <div id="middle-section">
                <div id="mid-content">
                    <div id="live-stream">
                         <video height="550px" width="100%" src=""></video>
                    </div>
                    <div id="map">
                        map
                    </div>
                </div>
            </div>
        
            <div id="right-section">
                <div id="right-content">
                    <div id="lights-content">
                        <div id="light-meter">
                            Meter
                        </div>
                        <div id="buttons">
                            <div id="light-button">
                                <label class="switch">
                                    <input type="checkbox" id="switch" onclick="meters()">
                                    <span class="slider round"></span>
                                  </label>
                            </div>
                        </div>
                    </div>
                    <div id="water-content">
                        <div id="water-meter">
                            Meter
                        </div>
                        <div id="buttons">
                            <div id="water-button">
                                <label class="switch">
                                    <input type="checkbox" id="switch" onclick="meters()">
                                    <span class="slider round"></span>
                                  </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>